

<header id="header" class="fixed-header sticky-header">

  <!-- Menu toggle btn -->
  <!-- <button type="button" class="navbar-toggle nav-bttn">Menu</button> -->

  <!-- logo -->
  <!-- <a href="index.html" class="logo"><img src="/images/logo.png" alt=""></a> -->
  <a href="index.html" class="text-uppercase" style="color:white">Los Alisos Estates</a>

  
  <!-- Menu -->
  <nav class="nav-menu type-hr">
    <ul>
      <li><a href="/floor-plans">Floor Plans</a></li>
      <li><a href="/listing">Listings</a></li>
      <li><a href="press.html">Press</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

</header>
