<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif" id="ip-container">

    {{ block "header" . }}
      {{ partial "nav" . }}
      {{ partial "header" . }}
    {{end}}

    <div id="wrapper" class="wrapper-container">

      {{ block "main" . }}{{ end }}

      {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    </div>

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
