<div class="row ">
	<div class="col-lg-8">
		<a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
			<h5 class="f3 b lh-title mb1 primary">{{ .Title }}</h5>
			<p>
				{{ .Params.Bedrooms }} Beds, {{ .Params.Bathrooms }} Bathrooms<br>
				${{ .Params.Price }}<br>
				{{ .Params.square_feet }} sqft
			</p>
			<p class="mb0">{{ .Description }}</p>
		</a>
	</div>
	<div class="col-lg-4 text-right">
		<a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
			<img src="{{ .Params.Image }}" width="250px" />
		</a>
	</div>
</div>
