{{ define "main" }}

{{ $paginator := .Paginate (where .Site.Pages "Params.type" "1_bed") }}

<div id="residences" style="height:90px;background: #202732">

</div>

<div class="container container-extra">

	<div class="row" style="margin: 40px 0">

		<div class="col-lg-9">

			<div class="border-b mb-2">
				<div class="mb-2 text-uppercase"><b>Floor Plans & Pricing</b></div>
				<ul class="list-inline mb-3">
					<li class="list-inline-item pr-3"><a href="/listing">All</a></li>
					<li class="list-inline-item pr-3"><a href="/listing/studio">Studio</a></li>
					<li class="list-inline-item pr-3 active"><a href="/listing/1-bed">1 Bed</a></li>
					<li class="list-inline-item pr-3"><a href="/listing/2-beds">2 Beds</a></li>
					<li class=""><a href="/listing/3-beds">3 Beds</a></li>
				</ul>
			</div>

			<div class="mw7 center">
			  <ul id="row-listing-group" class="flex-ns flex-wrap mhn1-ns pa3">
			      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
			          <div class="row-listing">
			            {{ .Render "listing_list"}}
			          </div>
			      {{ end }}
			  </ul>
			  {{ partial "pagination" . }}
			</div>
		</div>	

		<div class="col-lg-3">
			<div style="margin-top: 83px">{{ partial "contact-us-card" . }}</div>
		</div>

	</div>

</div>

{{end}}
