{{ define "main" }}

<div id="residences" class="media-holder" data-bg="img/pool.jpg">

  <div class="container">

    <div class="align-center">
      <div class="content-element3">
        
        <h3 class="media-holder-title text-uppercase"><b>Availability And Listings</b></h3> 

      </div>
      <p class="text-uppercase">
      	Your new home awaits
      </p>
    </div>


  </div>

  <div class="icon-scroll"></div>
  
</div>

<div class="container">

	<div class="row" style="margin: 40px 0">

		<div class="col-lg-9">
			<div class="mw7 center">
			  <ul class="flex-ns flex-wrap mhn1-ns pa3">
			      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
			          <div class="w-50-ns ph1-ns flex">
			            {{ .Render "listing_list"}}
			          </div>
			      {{ end }}
			  </ul>
			  {{ partial "pagination" . }}
			</div>
		</div>	

		<div class="col-lg-3">
			<br>
			<img src="/img/contact_form.jpg">
		</div>

	</div>

</div>

<!-- Debugging -->
{{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
	<script type="text/javascript">
		console.log({{ . }});
	</script>
{{ end }}

{{end}}
