{{ define "main" }}

<body id="ip-container">

  <!-- initial header -->
  <header class="ip-header">
    <h1 class="ip-logo" style="color:white;text-transform: uppercase;">
      <!-- logo -->
      Los Alisos Estates
    </h1>
    <div class="ip-loader">
      <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
        <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
        <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
      </svg>
    </div>
  </header>

  <!--cookie-->
  <!-- <div class="cookie">
          <div class="container">
            <div class="clearfix">
              <span>Please note this website requires cookies in order to function correctly, they do not store any specific information about you personally.</span>
              <div class="f-right"><a href="#" class="btn">Accept Cookies</a><a href="#" class="btn">Read More</a></div>
            </div>
          </div>
        </div>-->

  <!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->

  <div id="wrapper" class="wrapper-container">

    <!-- facebook link -->
    <a href="#" class="fb-link"><i class="icon-facebook"></i></a>

    <!-- main navigation -->
    <!-- <div id="navbar-menu" class="navbar-menu">

      <button type="button" id="navbar-close" class="nav-bttn close-bttn">Close</button>
      

      <nav class="nav-menu">
        <ul>
          <li class="current"><a href="residences.html">RESIDENCES</a></li>
          <li><a href="amenities.html">AMENITIES</a></li>
          <li><a href="neighborhood.html">NEIGHBORHOOd</a></li>
          <li><a href="availability.html">Availability</a></li>
          <li><a href="press.html">Press</a></li>
          <li class="sub-menu"><a href="#">News</a>
            <ul>
              <li><a href="news.html">News</a></li>
              <li><a href="news_single.html">Single News</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
          <li class="sub-menu"><a href="#">Features</a>
            <ul>
              <li><a href="shortcodes.html">Shortcodes</a></li>
              <li><a href="typography.html">Typography</a></li>
              <li><a href="./rtl/index.html">RTL Version</a></li>
            </ul>
          </li>
        </ul>
      </nav>

    </div>
    
    <div class="page-nav-menu">
      
      <ul id="menu">
        <li class="current"><a href="#residences" class="animated">RESIDENCES</a></li>
        <li><a href="#kitchen" class="animated">Kitchen / Living Room</a></li>
        <li><a href="#bedroom" class="animated">Master Bedroom</a></li>
        <li><a href="#bathroom" class="animated">Master Bathroom</a></li>
        <li><a href="#childroom" class="animated">Child Rooms</a></li>
        <li><a href="#sbathroom" class="animated">Secondary Bathroom</a></li>
        <li><a href="#balcony" class="animated">Private Balcony</a></li>
      </ul>

    </div> -->

    <div id="residences" class="media-holder" data-bg="/img/demo/hero2.jpg">

      <div class="container">

        <div class="align-center">
          <div class="content-element3">
            
            <h1 class="media-holder-title size2"><b>Los Alisos Estates</b></h1> 

          </div>
          <p>Phasellus congue nec eros sed tempor. Vivamus vel mattis mauris. </p>
        </div>


      </div>

      <div class="icon-scroll"></div>
      
    </div>

    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content" class="page-content-wrap2 no-top-space">
      
      <div class="container container-extra-2">
        
        <div id="kitchen" class="content-element6">
          
          <div class="half-bg-col">

            <div class="row flex-row push-top">
              <div class="col-md-6 col-sm-12">
                
                <div class="half-bg-left">
                  
                  <div class="img-col-left">
                    <div class="owl-carousel custom-slider">
                      <a href="/img/demo/kitchen1.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/house1.jpg" alt=""></a>
                      <a href="/img/demo/kitchen2.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/pool.jpg" alt=""></a>
                    </div>
                    <div class="owl-carousel custom-slider">
                      <a href="/img/demo/kitchen1.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/room1.jpg" alt=""></a>
                      <a href="/img/demo/kitchen2.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/office1.jpg" alt=""></a>
                    </div>
                  </div>

                </div>

              </div>
              <div class="col-md-6 col-sm-12">
                
                <div class="img-content style-2">
                  <h3 class="section-title">Morbi Vehicula / Sodales</h3>

                  <p>
                    Proin ornare ultrices leo, at interdum velit luctus vel. Sed nisl massa, malesuada sit amet vulputate ac, aliquam ut metus. Quisque turpis elit, dictum sagittis venenatis eget, auctor in nulla. Quisque porttitor scelerisque ex, ut malesuada eros egestas sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                  </p>
                </div>

                <div class="half-bg-right">
                  
                  <div class="img-col-right style-2">
                    <div class="owl-carousel custom-slider">
                      <a href="/img/demo/kitchen1.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/office2.jpg" alt=""></a>
                      <a href="/img/demo/kitchen2.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/gym1.jpg" alt=""></a>
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>

        </div>

        <div id="bedroom" class="content-element6">
          
          <div class="half-bg-col">

            <div class="row flex-row flex-md-reverse">
              <div class="col-md-6 col-sm-12">
                
                <div class="align-right">
                  
                  <div class="img-content style-2">
                    <h3 class="section-title">Duis Ex Tellus</h3>

                    <p>
                      Pellentesque tincidunt urna dolor, non accumsan diam malesuada sit amet. Praesent et lacus volutpat, luctus nulla nec, vestibulum neque. Sed ornare sit amet felis a semper. Vivamus vel eleifend dui. Nunc nulla metus, molestie vel quam eget, laoreet congue ligula. Sed vel pellentesque lacus.
                    </p>
                  </div>

                </div>

                <div class="half-bg-left">
                  
                  <div class="img-col-left style-2">
                    <div class="owl-carousel custom-slider">
                      <a href="/img/demo/kitchen1.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/room2.jpg" alt=""></a>
                      <a href="/img/demo/kitchen2.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/room2.jpg" alt=""></a>
                    </div>
                  </div>

                </div>

              </div>
              <div class="col-md-6 col-sm-12">
                
                <div class="half-bg-right">
                  
                  <div class="img-col-right">
                    <div class="owl-carousel custom-slider">
                      <a href="/img/demo/kitchen1.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/house2.jpg" alt=""></a>
                      <a href="/img/demo/kitchen2.jpg" class="project-link" data-custom-fb-gallery="group"><img src="/img/demo/house2.jpg" alt=""></a>
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>

        </div>

        

        <!-- pages navigation -->
        <div class="container">
          
          <div class="align-center">
            
            <h3 class="section-title"><b>Welcome To Your New Home</b></h3>
            <div class="page-nav">
              <a href="/listing" class="page-prev">Listings</a>
              <a href="contact.html" class="btn btn-big style-2">Schedule a Personal Tour</a>
              <a href="amenities.html" class="page-next">Amenities</a>
            </div>

          </div>

        </div>

      </div>

    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->

</body>


{{ end }}
